<!-- templates/profile.html -->

{% extends "base.html" %}
{% block content %}
<meta charset="UTF-8">
<title>File upload input</title>
<h1 class="title">
  Welcome, {{ name }}!
</h1>
<style>
	.button {
		background-color: #4CAF50;
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
	}
</style>
</head>
<center><h2>Select an image to upload</h2></center>
<center><p>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
</p></center>
<center><form method="post" action="/profile" enctype="multipart/form-data">
	<dl>
		<p>
			<input type="file" name="file" autocomplete="off" required>
		</p>
    </dl>
    <input type="submit" value="Upload" class=button><br>

    <div class="navbar-center">
    	<a href="{{ url_for('main.colorization') }}" class=button >
                                Fill
       </a>
  
</center></form>
 {% endblock %}



  
